* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fa;
}

.container {
    text-align: center;  
}

button {
    background: #069;
    color: #fff;
    font-size: 32px;
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}